{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Corpus Analysis Tool</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Corpus Analysis Tool</h1>
    <nav>
        <a href="#">Home</a>
        <a href="#">Analytics</a>
    </nav>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Insert text below:</p>
        <textarea name="text" rows="4" cols="50"></textarea>
        <p>OR</p>
        <p>Upload a PDF:</p>
        <input type="file" name="pdf_file" accept="application/pdf" />
        <br/>
        <input type="submit" value="Submit">
    </form>
</body>
</html>